  /* * {
  font-family: 'Calligraffitti', cursive;
font-family: 'Caveat', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Homemade Apple', cursive;

}
*/
#footer{
    width:100vw;
    display: flex;
    position: fixed;
    bottom: 1%;
    flex-flow: row;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 1%;
    border-top: 2px solid grey;
}
.active{
    color:black;
}
#entry{
    text-align: center;
    font-size: 32px;
}
#signin h1{
    font-size: 32px;
    text-align: center;
}
#signin ,#signup{
    text-align: center;
}
#back{
    border-radius: 50%;
    font-size: 24px;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}
#small{
    font-size: 8px;
}
#img{
    min-height: 50vw;
    text-align: center;
    justify-content: center;
}
#img img {
    margin-left: 25vw;
}
#write{
     font-size: 16px;
     right: 90%;
    top:0;
    padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;
    border-radius: 50%;
}
textarea{
    width: 80vw;
    margin-left: 10vw;
}