/* for All*/
:root {
  /*  this - sign and indentation matters  !*/
  --page-height: calc(100vh - 86px);
  /* total-100% ; header-40px ; footer-33px ; rest - 100% - 73px */
}

#root,
.grid-container {
  height: 100%;
}

* {
  margin: 0 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.hder {
  height: 40px;
}

div.min {
  height: var(--page-height);
  overflow-y: scroll;
  position: relative;
}

.fter {
  height: 46px;
}

#entry .card .card-content span {
  font-size: small;
}

#home,
#user,
#cog,
#add,
#bell,
#signin {
  overflow-y: scroll;
  overflow-x: hidden;
}
#entry,
#signin,
#signup,
#form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
}

.o-circle {
  color: rgb(58, 84, 228);
}

.foot {
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.active {
  color:#3273dc;
}
.active :hover{
  color: rgb(119, 119, 243);
}
.parent {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.child {
  border: 1px solid grey;
  width: calc(100vw / 3 - 2px);
}
.fielld.has-adons .contro.is-expand {
    flex-grow: 1;
    display: flex;
}

.fielld.has-adons {
    display: flex;
}

.fielld.has-adons .contro:not(:last-child) {
    margin-right: -1px;
}

.contro.h-i-l .ic.i-l {
    left: 0;
}

.contro.h-i-l .ic,
.contro.has-icons-right .ic {
    pointer-events: none;
}

img {
    height: auto;
    max-width: 100%;
}

.contro.h-i-l .ic,
.contro.has-icons-right .ic {
    color: #dbdbdb;
    pointer-events: none;
    position: absolute;
    width: 2.5em;
    z-index: 4;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

.contro.h-i-l .inp,
.contro.h-i-l .select select {
    padding-left: 2.5em;
}

.button,
.inp {
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    position: relative;
    vertical-align: top;
}

* {
    margin: 0 0;
}

.contro .button {
    display: inline;
}

.inp {
    width: 100%;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: large;
    height: 38px;
    border: 1px solid grey;
}